/*цвет основного текста  #2E2F42
вторичный цвет текста #434455
фон #fff 
фон первой секции и футера #2E2F42
цвет логотипа хедер #4D5AE5 web #2E2F42 studio
цвет акцент #fff
цвет лого футер #4D5AE5 #F4F4FD
цвет текста футер #E7E9FC
цвет контактов #434455

*/

*,
::after ::before {
  box-sizing: border-box;
}

:root {
  --main-title-color: #2e2f42;
  --second-title-color: #434455;
  --main-btn-color: #fff;
  --hover-btn-color: #404bbf;
  --typical-lh: 1.5;
  --accent-color: #4d5ae5;
}

body {
  background-color: #fff;
  color: var(--second-title-color);
  font-family: "Roboto", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  /*outline: 2px solid tomato;*/
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.item-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

/*--------header--------*/
.header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}

.header-cnt {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.header-logo > span {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.header-list .header-item {
  margin-right: 40px;
}

.header-list .header-item:last-child {
  margin-right: 0;
}

.header-item {
  position: relative;
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-sel-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0;
  background: var(--main-title-color);
  border-radius: 2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-sel-page:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0;
  background: #404bbf;
  border-radius: 2px;
}

.header-item-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-auth-link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-auth-link:hover,
.header-auth-link:focus {
  color: var(--accent-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.header-auth-list {
  display: flex;
}

.header-auth-list .header-auth-item + .header-auth-item {
  margin-left: 40px;
}

.header-address {
  margin-left: auto;
}

/*--------main page--------*/

.main-page-cnt {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-page-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

.main-paige-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 48;
}
.studio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin: auto;
  display: block;
}

.studio-btn:hover,
.studio-btn:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

/*----peculiarities----*/

.peculiarities {
  padding-top: 120px;
  padding-bottom: 120px;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-item {
  margin-left: 24px;
}

.peculiarities-list .peculiarities-item:first-child {
  margin-left: 0;
}
.pec-it {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 264px;
}

.pec-iat {
  margin: 0;
  padding-bottom: 0;
  width: 264px;
}

.icon-pec-list {
  display: flex;
  justify-content: center;
}
.icon-pec-item {
  width: 264px;
  height: 112px;
}

.icon-pec-wrap {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
}

/*----what are we doing----*/
.about {
  padding-bottom: 120px;
}

.title-about {
  margin-top: 0;
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-item {
  margin-left: 24px;
}

.about-list .about-item:first-child {
  margin-left: 0;
}
/*----us/team----*/
.us {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.us-list {
  display: flex;
  justify-content: center;
}

.us-item {
  margin-left: 24px;
  background-color: #fff;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.us-list .us-item:first-child {
  margin-left: 0;
}

.us-title {
  margin-top: 0;
  margin-bottom: 72px;
}

.team-it {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}
.team-iat {
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-item {
  fill: #f4f4fd;
}

.team-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/*--------customers--------*/
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.customers-item:is(:hover, :focus) {
  fill: #404bbf;
}*/

.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
}

.customers-link:is(:hover, :focus) > .customers-icon {
  fill: #404bbf;
}
/*-------footer--------*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-text {
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin: 0;
}

.footer-list {
  display: flex;
  gap: 120px;
}

.footer-item-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
/*--------portfolio--------*/
.box-sec {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-btn {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  /*outline: 1px solid green;*/

  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover-btn-color);
  border: 1px solid var(--hover-btn-color);
  color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /*outline: 1px solid green;*/
}
.portfolio-item-btn {
  margin-bottom: 72px;
  cursor: pointer;
}

.portfolio-filter-list .portfolio-item-btn + .portfolio-item-btn {
  margin-left: 12px;
}

.item-after-title-sf {
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

/*--------boxes--------*/

.boxes-btn {
  display: flex;
}

.boxes-list {
  display: flex;
  flex-wrap: wrap;
  /*background-color: aqua;*/
  justify-content: center;
  column-gap: 24px;
}

.boxes-element {
  width: 360px;
  /*outline: 1px solid purple;*/
  margin-bottom: 48px;
  /*border: 1px solid purple;
  #e7e9fc*/
}

.boxes-element:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.boxes-element:nth-child(3n) {
  margin-right: 0;
}

.boxes-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.boxes-element:hover .boxes-cover {
  transform: translateY(0);
}

.item-title-sf {
  margin: 0;
  margin-bottom: 8px;
}

.item-after-title-sf {
  margin: 0;
}

.boxes-thumb {
  position: relative;
  overflow: hidden;
}

.boxes-cover {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 40px 32px 164px 32px;
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxes-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.boxes-img {
}

.boxes-text {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

/*--------modal1--------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 408px;
  min-height: 576px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-item {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;

  margin-top: 24px;
  margin-right: 24px;
}

.close-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  fill: #000000;
}

.close-btn:is(:hover, :focus) {
  background-color: var(--hover-btn-color);
  border: var(--hover-btn-color);
}
.close-btn:is(:hover, :focus) > .close-icon {
  fill: #fff;
}
